language: python

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

#notifications:
#  slack:
#    rooms:
#      - secure: "travis encrypt '<account>:<token>#channel'"
#    on_success: change
#    on_failure: always

os: linux

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

before_install:
    # USE UTF8 ENCODING. SHOULD BE DEFAULT, BUT THIS IS INSURANCE AGAINST FUTURE CHANGES
    - export PYTHONIOENCODING=UTF8

install:
    #- sudo apt-get update
    # We do this conditionally because it saves us some downloading if the
    # version is the same.
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a

    # Add STScI Astroconda channel, but don't install all stsci packages:
    - conda config --add channels defaults
    - conda config --add channels http://ssb.stsci.edu/astroconda

    # Install conda build tools in root:
    - conda install -n root conda-build

    # Create and activate test environment:
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION nose #coverage
    - source activate test-environment

    # Test building and installing the conda package:
    - conda build --python $TRAVIS_PYTHON_VERSION .
    - conda install stisblazefix --use-local

    # Install coverage tool:
    #- pip install coveralls

script:
    #- coverage run --omit='*test*' $(which nosetests) -v stisblazefix/unit_tests.py
    - nosetests -v stisblazefix/test_sbf.py

#after_success:
#    - coveralls
