include LICENSE.txt
include README.md
include setup.py
include stisblazefix/*.py
exclude test_sbf.py
exclude stisblazefix/testdata
exclude stisblazefix/testdata/*.fits
global-exclude *.pyc
exclude stisblazefix.egg-info
exclude runall.py
exclude outputdir
