include LICENSE.txt
include README.md
include setup.py
include stisblazefix/stisblazefix.py
include stisblazefix/__init__.py
exclude stisblazefix/test_sbf.py
prune testdata
global-exclude *.pyc
global-exclude *.fits
prune stisblazefix.egg-info
exclude runall.py
prune outputdir
